datasets
sentencepiece!=0.1.92
protobuf
scipy
scikit-learn
Keras-Preprocessing
onnx
onnxruntime
transformers >= 4.16.0
torch>=1.9.0
tqdm
onnxruntime-extensions; python_version < '3.10'
torch
sacremoses
