accelerate
datasets
transformers==4.35.2
huggingface-hub
seqeval
tensorboard
sentencepiece
timm
fvcore
Pillow
einops
textdistance
shapely
protobuf
torch
torchvision
setuptools
onnx
onnxruntime
onnxruntime-extensions; python_version < '3.11'
