accelerate==0.24.1
datasets==2.15.0
transformers==4.35.2
huggingface-hub==0.19.4
seqeval
tensorboard==2.15.1
sentencepiece==0.1.99
timm==0.9.12
fvcore
Pillow==10.1.0
einops
textdistance==4.6.0
shapely==2.0.2
protobuf==4.23.4
torch==2.1.1
torchvision==0.16.0
setuptools==68.0.0
onnx
onnxruntime
onnxruntime-extensions==0.9.0; python_version < '3.11'
